<div class="row justify-content-center align-items-center my-5">
    <div class="col-10 col-md-8 col-lg-6">
        <h1 class="text-center">Criar produto</h1>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
        <form action="/products/create" method="POST">
            <div class="my-3">
                <label for="name" class="form-label fw-bold">Nome do produto:</label>
                <input type="text" class="form-control shadow border border-warning" name="name" id="name" placeholder="Digite o nome do produto" required>
            </div>
            <div class="my-3">
                <label for="image" class="form-label fw-bold">Imagem do produto:</label>
                <input type="text" class="form-control shadow border border-warning" name="image" id="image" placeholder="Insira a url da imagem" required>
            </div>
            <div class="my-3">
                <label for="price" class="form-label fw-bold">Preço:</label>
                <input type="text" class="form-control shadow border border-warning" name="price" id="price" placeholder="Digite o preço do produto" required>
            </div>
            <div class="my-3">
                <label for="description" class="form-label fw-bold">Descrição do produto:</label>
                <input type="text" class="form-control shadow border border-warning" name="description" id="description" placeholder="Digite a descrição do produto" required>
            </div>
            <div class="my-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-md-4 my-5">
                        <input type="submit" class="btn btn-dark shadow w-100" value="Salvar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>